<app-nav></app-nav>

<div class="container py-5">
    <div class="shadow rounded mt-5 p-4">

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Historial de simulacros
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                        modify any of this with custom CSS or overriding our default variables. It's also worth noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Historial de prácticas
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body row">
                        <ng-container *ngIf="load_data_alg">
                            <div class="text-center">
                                <div class="spinner-grow text-secondary my-3" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </ng-container>

                        <!-- Álgebra -->
                        <div  class="card border-0 my-2" style="background-color: rgb(212, 255, 237);">
                            <p class="text-center fw-bold fs-5 pt-2" style="color: rgb(0, 205, 123);">Prácticas de Álgebra</p>
                            <div class="card-body">
                                <div class="row">
                                        <canvas id="MyChart"></canvas>
                                </div>
                            </div>
                        </div>

                        <!-- Anatomía -->
                        <div class="card border-0 my-2" style="background-color: rgb(255, 219, 219);">
                            <p class="text-center fw-bold fs-5 pt-2" style="color: rgb(255, 67, 73);">Prácticas de Anatomía</p>
                            <div class="card-body">
                                <div class="row">
                                        <canvas id="MyChartAn"></canvas>
                                </div>
                            </div>
                        </div>

                        <!-- Aritmética -->
                        <div class="card border-0 my-2" style="background-color: rgb(219, 253, 255);">
                            <p class="text-center fw-bold fs-5 pt-2" style="color: rgb(20, 211, 221);">Prácticas de Aritmética</p>
                            <div class="card-body">
                                <div class="row">
                                        <canvas id="MyChartArit"></canvas>
                                </div>
                            </div>
                        </div>

                        <!-- Biología -->
                        <div class="card border-0 my-2" style="background-color: rgb(220, 255, 219);">
                            <p class="text-center fw-bold fs-5 pt-2" style="color: rgb(13, 186, 7);">Prácticas de Biología</p>
                            <div class="card-body">
                                <div class="row">
                                        <canvas id="MyChartBio"></canvas>
                                </div>
                            </div>
                        </div>

                         <!-- Trigonometría -->
                         <div class="card border-0 my-2" style="background-color: rgb(238, 255, 226);">
                            <p class="text-center fw-bold fs-5 pt-2" style="color: rgb(64, 196, 27);">Prácticas de Trigonometría</p>
                            <div class="card-body">
                                <div class="row">
                                        <canvas id="MyChartTrigo"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>